* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.topbar {
  background-color: #1e88e5;
  color: white;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.sidebar button {
  display: block;
  width: 80%;
  padding: 16px;
  margin-bottom: 10px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.sidebar button:hover {
  background-color: #1565c0;
}

#content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

table {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #1e88e5;
  color: white;
}

button {
  padding: 16px;
  background-color: #1e88e5;
  border: none;
  border-radius: 3px;
  color: white;
}

button:hover {
  background-color: #1565c0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 40px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img{
  display: block;
  margin: auto;
}